.home-page 
{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.header 
{
  background-color: #3e404b;
  color: #fff;
}

.nav 
{
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-item {
  margin: 0 10px;
}

.nav-item a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.title {
  font-size: 48px;
  margin-bottom: 20px;
}

.description {
  font-size: 24px;
  margin-bottom: 50px;
}

.explore-button {
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #3e404b;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.explore-button:hover {
  background-color: #fff;
  color: #333;
}

.footer {
  width: 100%;
  background-color: #3e404b;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: absolute;
  bottom: 0;
}

.footer p {
  margin: 0;
}
