.full-screen 
{
    position: fixed;
    top: 10vh;
    left: 20vh;
    width: 80%;
    height: 80%;
    z-index: 9999;
    border: 10px solid #1976D2;
    border-radius: 15px;
    
}
.normal-screen
{
    position: relative;
    top: 5px;
    width: 1200px;
    height: 630px;
    
}