*
{
  font-family: 'JetBrains Mono'!important;
}

html::-webkit-scrollbar
{
 width: 10px !important;
}
html::-webkit-scrollbar-thumb
{
 background-color: #CCC;
}
html::-webkit-scrollbar-track
{
  background-color: rgb(40,43,54);
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.MuiButtonBase-root
{
  font-family: "JetBrains Mono" !important;
}

.nav 
{
  width: 100%;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-item {
  font-family: "JetBrains Mono";
  margin: 0 10px;
}

.nav-item a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.main 
{
  margin-top: 2px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.description {
  font-size: 24px;
  margin-bottom: 50px;
}

.explore-button {
  font-size: 20px;
  font-family: "JetBrains Mono";
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #36393F;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.explore-button:hover {
  background-color: #fff;
  color: #333;
}

.footer 
{
  background-color: inherit;
}

.homepageclass
{
  background-color: inherit;
  min-height: 500vh;
}

.mainpageclass {
  display: flex;
  justify-content: space-between;
  top: 15vh;
  height: auto;
}

.mainclass
{
  display: block;
  background-color: "#020719";
  height: auto;
}

.studentinfo
{
  width: 30%;
  position: fixed;
  top : 5vh;
  left: 15vh;
}
.todo
{
  width: 30%;
  position: fixed;
  top : 60vh;
  left : 15vh;
}

.marketing-overview
{
  width: 100%;
  position: fixed;
  top: 5vh;
  left: 158vh;
}
.studentslist {
  width: 100%;
  position: fixed;
  top: 28vh;
  left: 158vh;
}

.post {
  display: block;
  width: 600px;
  height: 300px;
  position: relative;
  top: 5vh;
  left: 69vh;
}

.posts {
  width: 30%;
  position: relative;
  top: 35vh;
  right: 73vh;
}



