*
{
    font-family: 'JetBrains Mono' !important;
}
.ce-my-message-body {
    font-family: 'JetBrains Mono' !important;
    padding: 15px !important;
}
.sidebar
{
    position: relative !important;
    width: 10px;
}
.chatwindow
{
    position: relative;
    font-family: 'JetBrains Mono' !important;
    left: 5vh;
}
::-webkit-scrollbar
{
 width: 10px !important;
}
::-webkit-scrollbar-thumb
{
 background-color: #CCC;
}
::-webkit-scrollbar-track
{
  background-color: rgb(40,43,54);
}