.NavbarItems{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .25);
    width: 99%;
    height: 80px;
    border-radius: 13px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    z-index: 9999;
}
.Navbar-logo{
    color: #222;
    font-size: 2rem;
    cursor: pointer;
}
.nav-menu{
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;
}
.Navlinks{
    text-decoration: none;
    color: #222;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    white-space: nowrap;
}
.Navlinks i{
    padding-right: 10px;
}
.Navlinks:hover{
    background-color: #02b2d1;
    color: white;
    border-radius: 4px;
    transform: all 0.2s case-in-out;
}
.Navlinks-mobile{
    display: none;
}
#signup{
    padding: 0.5rem 1rem;
    white-space: nowrap;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: 0.2s case-in-out;
}
#signup:hover{
    background-color: #000000;
    color: white;
}
#login{
    padding: 0.5rem 1rem;
    white-space: nowrap;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: 0.2s case-in-out;
    background-color: #02b2d1;
    color: white;
}
#login:hover{
    background-color: #f1e3e3;
    color: rgb(10, 7, 7);
}


.Navlinks-login{
    display: none;
}
.logo
{
    width: 350px;
    height: 70px;
}