.home-page {
    background-color: 282c34;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  .nav {
    display: flex;
  }
  
  .nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-item a {
    text-decoration: none;
    color: white;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
  }
  
  .title {
    font-size: 36px;
    margin-bottom: 20px;
    color: white;
  }
  
  .description 
  {
    color: white;
    font-size: 18px;
    margin-bottom: 40px;
  }
  
  .explore-button {
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
  }
  .sign-in-button
  {
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    padding: 9px 9px;
    font-size: 12px;
    cursor: pointer;
  }
  
  .footer 
  {
    color: white;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-list-right
  {
    margin-left: 1450px;
    float: center;
  }
  