.userinfo
{
    background-color: white;
    display: flex;
    width: 250px;
    height: 250px;
    border-radius: 15px;
}
.avatar 
{
    margin-right: 16px !important;
}
  
  h6 {
    margin: 0;
  }
  
  h7 {
    margin: 0;
    opacity: 0.6;
  }